body {
  background-color: lightslategray;
  color: cornsilk;
  font-size: 25px;
}
h2 {
  color: rgb(191, 175, 223);
  font-size: 15px;
}
.main-header {
  color: mediumslateblue;
}
.head {
  text-align: center;
}
